@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  --height: 100%;
}

.test {
  height: var(--height);
}

/* SCROLLBAR --------------- */
html {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
}
/* SCROLLBAR --------------- */

body {
  background-color: var(--bg-color);
}

body.page-transition .navbar {
  mix-blend-mode: difference;
}

.gradient-top,
.gradient-bottom {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.gradient-top {
  top: -1px;
}

.gradient-bottom {
  bottom: -1px;
}

@media (orientation: landscape) {
  .gradient-top,
  .gradient-bottom {
    height: 25vh;
  }

  .gradient-top {
    background-image: linear-gradient(
      hsla(0, 0%, 0%, 0.5),
      hsla(0, 0%, 0%, 0.49) 1.2%,
      hsla(0, 0%, 0%, 0.46) 4.5%,
      hsla(0, 0%, 0%, 0.42) 9.7%,
      hsla(0, 0%, 0%, 0.37) 16.6%,
      hsla(0, 0%, 0%, 0.31) 24.9%,
      hsla(0, 0%, 0%, 0.25) 34.3%,
      hsla(0, 0%, 0%, 0.19) 44.5%,
      hsla(0, 0%, 0%, 0.13) 55.4%,
      hsla(0, 0%, 0%, 0.08) 66.7%,
      hsla(0, 0%, 0%, 0.04) 78%,
      hsla(0, 0%, 0%, 0.01) 89.2%,
      hsla(0, 0%, 0%, 0)
    );
  }

  .gradient-bottom {
    background-image: linear-gradient(
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.01) 10.8%,
      hsla(0, 0%, 0%, 0.04) 22%,
      hsla(0, 0%, 0%, 0.08) 33.3%,
      hsla(0, 0%, 0%, 0.13) 44.6%,
      hsla(0, 0%, 0%, 0.19) 55.5%,
      hsla(0, 0%, 0%, 0.25) 65.8%,
      hsla(0, 0%, 0%, 0.31) 75.1%,
      hsla(0, 0%, 0%, 0.37) 83.4%,
      hsla(0, 0%, 0%, 0.42) 90.3%,
      hsla(0, 0%, 0%, 0.46) 95.5%,
      hsla(0, 0%, 0%, 0.49) 98.8%,
      hsla(0, 0%, 0%, 0.5)
    );
  }
}

@media (orientation: portrait) {
  .gradient-top,
  .gradient-bottom {
    height: 33vh;
  }

  .gradient-top {
    background-image: linear-gradient(
      hsl(0, 0%, 0%),
      hsla(0, 0%, 0%, 0.98) 1.4%,
      hsla(0, 0%, 0%, 0.93) 5.3%,
      hsla(0, 0%, 0%, 0.84) 11.4%,
      hsla(0, 0%, 0%, 0.74) 19.3%,
      hsla(0, 0%, 0%, 0.62) 28.5%,
      hsla(0, 0%, 0%, 0.5) 38.8%,
      hsla(0, 0%, 0%, 0.38) 49.6%,
      hsla(0, 0%, 0%, 0.26) 60.7%,
      hsla(0, 0%, 0%, 0.16) 71.7%,
      hsla(0, 0%, 0%, 0.07) 82.2%,
      hsla(0, 0%, 0%, 0.02) 91.7%,
      hsla(0, 0%, 0%, 0)
    );
  }
  .gradient-bottom {
    background-image: linear-gradient(
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.02) 10.8%,
      hsla(0, 0%, 0%, 0.07) 21.9%,
      hsla(0, 0%, 0%, 0.16) 33.3%,
      hsla(0, 0%, 0%, 0.26) 44.6%,
      hsla(0, 0%, 0%, 0.38) 55.5%,
      hsla(0, 0%, 0%, 0.5) 65.8%,
      hsla(0, 0%, 0%, 0.62) 75.1%,
      hsla(0, 0%, 0%, 0.74) 83.4%,
      hsla(0, 0%, 0%, 0.84) 90.3%,
      hsla(0, 0%, 0%, 0.93) 95.5%,
      hsla(0, 0%, 0%, 0.98) 98.8%,
      hsl(0, 0%, 0%)
    );
  }
}

canvas {
  height: 100vh;
}

.content {
  /* background-color: black; */
  position: relative;
  display: grid;
  /* height: 100%; */
  grid-template-rows: repeat(5, 100vh);
  grid-template-rows: repeat(5, 100lvh);
  /* align-content: center; */
  /* align-items: center;
  justify-items: center; */
  width: 100%;
  z-index: 1;
  /* margin-top: calc((100vh - (100vw * 0.88 / 1.5)) / 2);
  margin-bottom: calc((100vh - (100vw * 0.88 / 1.5)) / 2);
  margin: 15vh 0;
  gap: 15vh; */
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  /* height: 100%; */
  /* margin: 15vh 0; */
}

/* .element {
  position: relative;
  z-index: 9;
  align-content: center;
  width: calc(100vw * 0.875);
  height: calc(100vw * 0.875 / 1.5);
  margin-bottom: calc((100vw * 0.85 / 1.5) * 0.15);
  background-color: white;
  opacity: 0.25;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  color: black;
  font-size: 10vw;
} */

.distance {
  height: 70vh;
}

.margin-bottom {
  margin-bottom: calc((100vw * 0.85 / 1.5) * 0.15);
}

/* .element:nth-child(1) {
  margin-top: calc((100vh - (100vw * 0.88 / 1.5)) / 2);
}

.element:last-child {
  margin-bottom: calc((100vh - (100vw * 0.88 / 1.5)) / 2);
} */

/* .wide .element {
  width: 150px;
  height: 70vh;
  margin-bottom: 30vh;
}

.wide .element:nth-child(1) {
  margin-top: 15vh;
}

.wide .element:last-child {
  margin-bottom: 15vh;
} */

aside {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: yellow;
  z-index: 9999;
  opacity: 0.5;
}

aside.left {
  width: 10vw;
  left: 0;
}

aside.right {
  width: 10vw;
  right: 0;
}
